<%@ Master Language="VB" CodeFile="MasterDefault.master.vb" Inherits="MasterDefault" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server" src="JavaScript/TopMenu/New Folder/custom.js">
    <title>Untitled Page</title>
    <link href="./Styles.css" type="text/css" rel="stylesheet" />        
</head>
<body style="font-size: 8pt; background-image: url(../Images/bg_page.gif)" >  
        <form id="form1" runat="server">
            <asp:ScriptManager ID="ScriptManager1" runat="server">
            </asp:ScriptManager>
            <TABLE id="Table1" cellSpacing="1" cellPadding="1" width="979" align="center"
				border="0" background="../Images/header.jpg" style="width: 979px; height: 86px; background-image: url(Images/header.jpg);">
				<TR>
					<TD></TD>
					<TD style="height: 37px"></TD>
				</TR>
				<TR>
					<TD vAlign="middle" align="left"></TD>
					<TD align="center" width="150px" style="height: 8px"></TD>
				</TR>
			</TABLE>
				<table id="tableutama" cellSpacing="0" cellPadding="0" width="979" align="center" border="0">
					<TR>
						<TD align="center" valign="top" style="height: 450px">
                            <asp:ContentPlaceHolder ID="middleContent" runat="server">
                            </asp:ContentPlaceHolder>     
                        </TD>
					</TR>
                    <tr>
                        <td align="center" style="height: 15px" valign="top">
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            </td>
                    </tr>
				</table>		    
        </form>      
</body>
</html>
