@font-face { 
	font-family:"Century Gothic";
	src: url('images/GOTHIC.TTF');
	}

BODY
{
	font-size: 8pt;
	color: #000099;
	font-family: "Century Gothic";
	background-image:url([images/bg.gif])
}

.mainmenu
{
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
	font-family: Arial, Verdana ;
}

.copyright
{
	padding:4;
	font-size: 11px;
	color: #ffffff;
	font-family: Arial, Verdana, Sans-Serif;
}

.Title
{
    font-size :20px;
    font-family: Arial Black;
    color: Sienna;
}

A
{
	color: Sienna;
	text-decoration: none;
}

A:hover
{
	color: #ff6600;
	text-decoration: none;
}

A.Menu
{
	color: Lavender;
	text-decoration: none;
}

A.Menu:hover
{
	color: #ff6600;
	text-decoration: none;
}

TD
{
	font-size: 8pt;
	color: #000099;
	font-family: Verdana, Arial;
}

TD.Label
{
    font-size:x-small;
}

TD.footer
{
	color : ScrollBar;
	/*background-color : #663300;*/
}

TH
{
	font-weight: bold;
	font-size: 8pt;
	color: #000099;
	font-family: Verdana, Arial;
	background-color: whitesmoke;
}

TH.header
{
	padding:5px;
	color: #001050;
	background-color: whitesmoke;
	text-align: left;
}

TH.headergray
{
	padding:4;
	font-weight: bold;
	font-size: 9pt;
	color: Black;
	font-family: Verdana, Arial;
	background-color: lightgrey;
	text-align: left;
}

.headergray
{
	padding:4;
	font-weight: bold;
	font-size: 9pt;
	color: Black;
	font-family: Verdana, Arial;
	background-color: lightgrey;
	text-align: left;
}

.tabelhias
{
	border-width:1px;
	border-style:solid;
	border-color:lightgrey;
	border-collapse:collapse;
}

A.biasa:hover
{
	color: #cc99ff;
}

A.penting:hover
{
	font-weight: bold;
	color: #ff3366;
}

A.submenu
{
    color: RoyalBlue;
    text-decoration: none;
}

A.submenu:hover
{
    color: #001050;
    text-decoration: none;
    font-weight:bold;
}

.inpText
{
	border-right: darkgray 1px solid;
	border-top: darkgray 1px solid;
	border-left: darkgray 1px solid;
	color: #001050;
	border-bottom: darkgray 1px solid;
	background-color: AliceBlue;
	font-size:11px;
}

.inpTextDisabled
{
	border-right: darkgray 1px solid;
	border-top: darkgray 1px solid;
	border-left: darkgray 1px solid;
	color: #001050;
	border-bottom: darkgray 1px solid;
	background-color: Khaki;
	font-size:x-small;
	font-weight : bold;
}

.PopUpTitle
{
    font-size: medium;
    font-weight: bold;
    color: Navy;
}

.Important
{	
	color: Red;
	font-size:x-small;
}

.ImportantGV
{	
	color: Red;
}

.tombol
{
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	font-size: 9pt;
	border-left: silver 1px solid;
	color: white;
	border-bottom: silver 1px solid;
	font-family: Arial;
	background-color: gray;
}

TD.menusamping
{
	background-color: whitesmoke;
}

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalBox {
	background-color : #f5f5f5;
	border-width: 3px;
	border-style: solid;
	border-color: Blue;
	padding: 3px;
}

.modalMsgBox {
	background-color : #f5f5f5;
	border-width: 3px;
	border-style: solid;
	border-color: Red;
	padding: 3px;
}

.ListSearchExtenderPrompt
{
	font-style:italic;
	color:Gray;
	background-color:white;
}

.normalFont{
    font-weight:normal;
    font-size:11px;
}

.ajax__tab_xp{
    font-weight:bold;
}

.karyawan{
    font-size:50px;
    font-weight:normal;
}

div.tableDine
{
    display:table;
    position: relative;
    overflow: hidden;
    height:75px;
    width:75px;
    font-size :x-large;
    font-family:Arial Rounded MT Bold, Arial, Tahoma, Verdana ;
    cursor:pointer;
    text-align:center;
    color:Navy;
    cursor:pointer;
}

.gvhdr
{
    background-color: #0000CD;
    color: White;
    border-bottom: Solid 2px Black;
    border-top: Solid 2px Black;
}

.gvpopup
{
    background-color: #00008B;
    color: White;
    border-bottom: Solid 2px Black;
    border-top: Solid 2px Black;
}

.gvnotify
{
    border-bottom: Solid 2px Black;
    border-top: Solid 2px Black;
}

/*AutoComplete flyout */

.autocomplete_completionListElement 
{  
	visibility : hidden;
	margin : 0px!important;
	background-color : inherit;
	color : windowtext;
	border : buttonshadow;
	border-width : 1px;
	border-style : solid;
	cursor : 'default';
	overflow : auto;
	height : 200px;
    text-align : left; 
    list-style-type : none;
}

/* AutoComplete highlighted item */

.autocomplete_highlightedListItem
{
	background-color: #ffff99;
	color: black;
	padding: 1px;
}

/* AutoComplete item */

.autocomplete_listItem 
{
	background-color : window;
	color : windowtext;
	padding : 1px;
}
.processMessage
{
    position: fixed;
    top: 39%;
    left: 41%;
    padding: 10px;
    width: 20%;
    z-index: 1001;
    background-color: #fff;
    border: outset 3px #6389ab;
}
.progressBackgroundFilter
{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: Gray;
    filter: alpha(opacity=60);
    opacity: 0.60;
    z-index: 1000;
}